div.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 90vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center precisely */
}

div.bannerText {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 20;
  text-align: left;
  margin-top: 60px;
}

.image {
  opacity: 1;
  border-radius: 30px;
  margin-top: 15px;
}
