.menucontainer {
  height: 50px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 30;
  margin-top: 0px;
  display: flex;
  overflow: visible;
}

.logoimg {
  height: 100%;
  width: auto;
  margin-left: 15px;
}

